{% extends 'base_for_login.html' %}

{% block title %}
    主页
{% endblock %}

{% block content %}
    <body background="/static/Login_background_picture1.jpg"
          style=" background-repeat:no-repeat ;
                background-size:100% 100%;
                background-attachment: fixed;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-2">
                <a href="#" class="list-group-item active">功能</a>
                <a href="{% url 'web_login' %}" class="list-group-item">
                    <img src='/media/web_img/start.png' style="margin-right:15px; width:20px ">今日事程</a>
                <a href="{% url 'web_login' %}" class="list-group-item">
                    <img src="/media/web_img/personal1.png" style="margin-right:15px; width:20px ">个人信息</a>
                <a href="{% url 'web_login' %}" class="list-group-item">
                    <img src="/media/web_img/change2.png" style="margin-right:15px; width:20px ">修改信息</a>
                <a href="{% url 'web_feed_back' %}" class="list-group-item">
                    <img src="/media/web_img/feedback.png" style="margin-right:15px; width:20px ">邮件反馈</a>


            </div>
            <div class="col-lg-9 col-sm-10">
                {% if message %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-disabled="true">×</span>
                        </button>
                        <strong>
                            {{ message }}
                        </strong>
                    </div>
                {% endif %}

                <div class="col-md-8 col-md-offset-2" style="background-color: #ffffff;margin-top: 5px;margin-right:10px
                ;border-radius: 3%">
                    <h2 class="text-center" style="">今日代办</h2>

                </div>
{#                <div class="col-sm-4"#}
{#                     style="background-color: #ffffff;padding: 5px;margin-top: 5px;border-radius: 3%">#}
{#                    <form class='form-login' action="" method="post">#}
{#                        {% csrf_token %}#}
{#                        <h4 class="text-center" style="margin-top: 10px;color: #000000">添加事务</h4>#}
{##}
{#                        <div class="form-group" style=" max-width: 375px;padding: 15px;#}
{#                                      margin: 0 auto;">#}
{#                            {{ login_form.email.label_tag }}#}
{#                            {{ login_form.email }}#}
{#                        </div>#}
{##}
{#                        <div class="form-group" style=" max-width: 375px;padding: 15px;#}
{#                                      margin: 0 auto;">#}
{#                            {{ login_form.password.label_tag }}#}
{#                            {{ login_form.password }}#}
{#                        </div>#}
{##}
{#                        <div class="form-group" style=" max-width: 375px;padding: 15px;#}
{#                                      margin: 0 auto;">#}
{##}
{#                            {% if login_form.captcha.errors %}#}
{#                                {{ login_form.captcha.errors }}#}
{#                            {% endif %}#}
{#                            {{ login_form.captcha.label_tag }}#}
{#                            {{ login_form.captcha }}#}
{#                        </div>#}
{#                        <div class="" style=" max-width: 375px;padding: 15px;#}
{#                                      margin: 0 auto;">#}
{#                            <button type="reset" class="btn btn-default pull-left" href="{% url 'web_login' %}">页面重置#}
{#                            </button>#}
                            {#                    <a href="{% url 'web_login' %}">主页</a>#}
                            {#                    <a href="{% url 'web_password_find_back' %}">#}
                            {#                        <button class="btn btn-link pull-left">#}
                            {#                            密码找回#}
                            {#                        </button>#}
                            {#                    </a>#}
{#                            <button onclick="location.href='{% url 'web_password_find_back' %}'" type="button"#}
{#                                    class="btn btn-link pull-left">#}
{#                                密码找回#}
{#                            </button>#}
{#                            <button type="submit" class="btn btn-primary pull-right">登录</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
            </div>
        </div>
    </div>
    </body>
{% endblock %}