{% extends 'base_for_login.html' %}
{% load staticfiles %}
{% block title %}Password Find Back{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" href="{% static 'my_css/login.css' %}">#}
{% endblock %}


{% block content %}
    <body background="/static/Login_background_picture1.jpg"
          style=" background-repeat:no-repeat ;
                background-size:100% 100%;
                background-attachment: fixed;">
    <div class="container">
        <div class="col-md-4 col-md-offset-4"
             style="background-color: #ffffff;padding: 20px;margin-top: 10%;border-radius: 5%">
            <form class='form-login' action="" method="post">

                {% if message %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-disabled="true">×</span>
                        </button>
                        <strong>
                            {{ message }}
                        </strong>
                    </div>
                {% endif %}

                {% csrf_token %}
                <h2 class="text-center" style="margin-top: 30px;color: #0a0c0d">请输入您绑定的邮箱</h2>
                <h3 class="text-center" style="margin-top: 30px;color: #0a0c0d">将把找回验证码发送到您的邮箱</h3>
                <div class="form-group" style=" max-width: 375px;padding: 15px;
                                      margin: 0 auto;">
                    {{ PwdBack.email.label_tag }}
                    {{ PwdBack.email }}
                </div>
                <div class="form-group" style=" max-width: 400px;padding: 15px;
                                      margin: 0 auto;">

                    {% if login_form.captcha.errors %}
                        {{ login_form.captcha.errors }}
                    {% endif %}
                    {{ login_form.captcha.label_tag }}
                    {{ login_form.captcha }}
                </div>
                <div class="" style=" max-width: 375px;padding: 15px;
                                      margin: 0 auto;">
                    <button type="reset" class="btn btn-default pull-left" href="{% url 'web_password_find_back' %}">
                        重置
                    </button>
                    <button type="submit" class="btn btn-primary pull-right" name="send_code">发送</button>
                </div>
            </form>
        </div>
    </div> <!-- /container -->
    </body>

{% endblock %}